.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}

.icon-link>.bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
}

.icon-link:hover>.bi {
    transform: translate(.25rem);
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
}

.rounded-4 {
    border-radius: .5rem;
}

.rounded-5 {
    border-radius: 1rem;
}

.text-shadow-1 {
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.link-secondary {
    pointer-events: none !important;
}

.b-img {
    width: 4em;
    height: 4em;
    background-color: #000;
    border-radius: 1em;
}

#copyTarget {
    z-index: 1 !important;
    color: #747474;
}

.copied {
    opacity: 1;
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translate(0px, -70%);
}

#summary {
    line-height: 1.5;
}

#collapseSummary {
    padding: 0;
    margin: 0;
}

#summary p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#summary p.collapsing {
    min-height: 42px !important;
}

#summary a.collapsed:after {
    content: '+ Читать Больше';
}

#summary a:not(.collapsed):after {
    content: '- Скрыть';
}

.show {
    display: block;
    opacity: 1;
}

.hblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.vblock {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vblock.vblock_gap_1em {
    gap: 1em;
}

.vblock.vblock_gap_0\.5em {
    gap: 0.5em;
}

.vblock.vblock_v-1 {
    gap: 0.5em;
    border: 0.1em solid #ebebeb;
    border-radius: 1em;
    padding: 1em;
}

.container_v-1 {
    max-width: 40em;
}

table {
    width: 100% !important;
    display: block !important;
    overflow-x: auto;
    white-space: nowrap;
    min-width: 0 !important;
    padding: 1em 0 !important;
}

.vblock.vblock_align {
    justify-content: center;
    align-items: center;
}

.hblock.hblock_align {
    justify-content: center;
    align-items: center;
}

.hblock.hblock_gap {
    gap: 1em;
}

#timer_wrapper {
    display: none;
}

#timer_wrapper.active {
    display: block;
}