.accordion-container {
    width: -webkit-fill-available;
    color: #fff;
}

.accordion .accordion-item {
    border-radius: 1em;
    padding: .5em 1em;
    margin-bottom: 1em;
    background: #FFFFFF08;
    backdrop-filter: blur(2em);
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #fff;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 0;
    width: 2em;
    height: 2em;
    border: 1px solid;
    border-radius: 50%;
    transition-duration: 10ms;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #0067ff;
    border: 1px solid #0067ff;
}

.accordion button .icon::before,
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
}

.accordion button .icon::before {
    width: 0.6em;
    height: 0.1em;
}

.accordion button .icon::after {
    width: 0.1em;
    height: 0.6em;
}


/* animations */
.accordion button[aria-expanded=true] .icon::after {
    width: 0;
}

.accordion button[aria-expanded=true] .icon::before {
    background-color: #0067ff;
}

.accordion button[aria-expanded=true] .icon {
    color: #0067ff;
}

.accordion button:hover .icon::before,
.accordion button:hover .icon::after {
    background-color: #0067ff;
}

.accordion button:hover {
    cursor: pointer;
    color: #0067ff;
}

.accordion button[aria-expanded=true]+.accordion-content {
    opacity: 1;
    max-height: 40em;
}